.switcher {
  padding: 4px;
  margin: auto;
  width: fit-content;
  background-color: rgba(var(--backgrColor), 0.7);
  border: 1px solid rgba(var(--white), 0.7);
  border-radius: 5px;
  transition: right 0.7s ease;
}

.switcher button {
  width: 3em;
  height: 3em;
  margin: 0 2px;
  color: rgba(var(--white), 0.7);
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}
.switcher button div {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.active {
  color: rgba(var(--colorSecondary), 0.7);
}

@media screen and (min-width: 800px) {
  .switcher {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(var(--backgrColor), 0.7);
    border: 1px solid rgba(var(--white), 0.7);
    transition: left 0.7s ease;
  }
  .switcher button {
    width: 30px;
    height: 30px;
  }
  .switcher button div {
    font-size: 20px;
  }
}
