header {
  position: fixed;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  top: 0;
}

nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

button.burger {
  position: absolute;
  display: flex;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  z-index: 10;
  background-color: rgb(var(--backgrColor));
  border: 1px hidden;
}

.bur1,
.bur2,
.bur3 {
  height: 5px;
  width: 100%;
  border-radius: 2px;
  background-color: white;
  transition: 0.5s ease;
}

.change.bur1 {
  -webkit-transform: rotate(-45deg) translate(-7.5px, 7.5px);
  transform: rotate(-45deg) translate(-7px, 6.8px);
}

.change.bur2 {
  opacity: 0;
}

.change.bur3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
  transform: rotate(45deg) translate(-7px, -7px);
}
#navItemHeader {
  display: none;
}
/* #HideNavItem {
  display: block;
} */
.navItem {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  text-align: center;
  background-color: rgb(var(--backgrColor));
  font-family: "Nunito";
  transition: all 0.2s ease;
  z-index: 1;
}
#HideMenu {
  transform: translateX(100vw);
}
.navItem ul {
  margin: 0 0 1.5rem 0;
  width: 80%;
}
.navItem li {
  display: block;
  font-size: 1.8rem;
  padding: 2px 0 2px 0;
  text-align: left;
  margin: 0 0 0.6rem 0;
}

.navItem li a {
  text-transform: capitalize;
}
.navItem li a span {
  color: rgb(var(--colorSecondary));
  font-family: monospace;
}
.player {
  width: 80%;
}
.spotify {
  position: relative;
  display: block;
  width: 100%;
  height: 50vw;
  padding: 0;
  margin: 1.5rem 0 0 0;
  border: 4px solid rgb(var(--colorSecondary));
  border-radius: 8px;
}

.cover {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.cover img {
  display: block;
  max-width: 100%;
}
.trackInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--backgrColorLight), 0.55);
  border-radius: 4.5px;
}
.title {
  display: flex;
  margin: auto;
}
.title h1 {
  margin: auto;
  padding: 2px;
  text-align: center;
  font-size: 0.96em;
  color: rgba(var(--white), 0.8);
}
.metadata {
  margin-top: auto;
  position: relative;
  padding: 0 4px;
  font-size: 0.7rem;
  text-align: left;
  color: rgba(var(--white), 0.8);
}
.metadata p {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  margin: 8px 2px 8px 2px;
}

@media screen and (min-width: 800px) {
  header {
    transition: top 0.4s ease 0.2s;
    height: 70px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  button.burger {
    display: none;
  }
  #navItemHeader {
    color: rgb(var(--colorSecondary));
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
  }
  .navItem {
    all: unset;
    width: fit-content;
    height: fit-content;
    font-family: "Nunito";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 14px 0 0;
  }
  #HideMenu {
    transform: translateX(0);
  }
  #HideNavItem {
    display: none;
  }
  .navItem ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: fit-content;
  }

  .navItem li {
    margin: 0 5px 0 8px;
    padding: 0;
  }

  .navItem li a {
    transition: 0.5s ease;
    font-size: 30px;
  }
  .navItem li a:hover {
    color: rgb(var(--colorSecondary));
  }

  .themesSwitcher {
    position: relative;
    text-align: center;
    font-size: 22px;
    width: 6em;
    border: 2px solid rgb(var(--colorSecondary));
    border-radius: 15px;
    cursor: pointer;
  }

  .switch {
    position: absolute;
    width: 100%;
    margin-top: 6px;
    transition: all 0.6s ease;
  }
  .player {
    position: relative;
    width: 11vw;
    border: 2px solid rgb(var(--colorSecondary));
    border-radius: 15px;
  }

  .spotify {
    width: 100%;
    height: 10vw;
    position: absolute;
    margin-top: 6px;
    transition: all 0.6s ease;
  }

  .title h1 {
    font-size: 1rem;
  }
  .metadata {
    position: relative;
    font-size: 0.8rem;
  }
  .metadata p {
    width: 92%;
  }
}
