header {
  position: fixed;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  top: 0;
}

nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

button.burger {
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  z-index: 10;
}

.bur1,
.bur2,
.bur3 {
  width: 35px;
  height: 5px;
  margin: 3px 12px;
  background-color: white;
  border-radius: 5px;
  transition: 0.5s;
}

.change.bur1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 9px);
  transform: rotate(-45deg) translate(-8px, 9px);
}

.change.bur2 {
  opacity: 0;
}

.change.bur3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
  transform: rotate(45deg) translate(-7px, -7px);
}

.side {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  text-align: center;
  background-color: rgb(var(--backgrColor));
  font-family: "Nunito";
  z-index: 1;
  transition: all 0.2s ease;
}

.side-container {
  position: relative;
}

.side ul {
  margin: 0 0 1.5rem 0;
}
.side li {
  display: block;
  font-size: 1.6rem;
  padding: 2px 0 2px 0;
  text-align: left;
  margin: 0 0 0.6rem 0;
}

.side li a {
  text-transform: capitalize;
}
.side li a span {
  color: rgb(var(--colorSecondary));
  font-family: monospace;
}
.spotify {
  position: relative;
  display: block;
  width: 50vw;
  height: 50vw;
  padding: 0;
  margin: 1.5rem 0 0 0;
  border: 3px solid rgb(var(--colorSecondary));
  border-radius: 8px;
}
.cover {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.cover img {
  display: block;
  max-width: 100%;
}
.trackInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--backgrColorLight), 0.55);
  border-radius: 4.5px;
}
.title {
  display: flex;
  margin: auto;
}
.title h1 {
  margin: auto;
  padding: 2px;
  text-align: center;
  font-size: 0.96em;
  color: rgba(var(--white), 0.8);
}
.metadata {
  margin-top: auto;
  position: relative;
  padding: 0 4px;
  font-size: 0.7rem;
  text-align: left;
  color: rgba(var(--white), 0.8);
}
.metadata p {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  margin: 8px 2px 8px 2px;
}

@media screen and (min-width: 800px) {
  header {
    transition: top 0.4s ease 0.2s;
    height: 70px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .side {
    all: unset;
    width: fit-content;
    height: fit-content;
    font-family: "Nunito";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 15px 0 0;
  }
  .side ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side li {
    margin: 0 10px 0 10px;
    padding: 0;
  }
  .side li a {
    transition: 0.5s ease;
    font-size: 30px;
  }
  .side li a:hover {
    color: rgb(var(--colorSecondary));
  }

  .themesSwitcher {
    position: relative;
    text-align: center;
    font-size: 22px;
    width: 6em;
    border: 2px solid rgb(var(--colorSecondary));
    border-radius: 15px;
  }
  .themesSwitcher span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: rgb(var(--colorSecondary));
  }
  .switch {
    position: absolute;
    width: 100%;
    margin-top: 6px;
    transition: all 0.6s ease;
  }
  .player {
    position: relative;
    text-align: center;
    width: 11vw;
    border: 2px solid rgb(var(--colorSecondary));
    border-radius: 15px;
  }

  .player a {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: rgb(var(--colorSecondary));
  }

  .spotify {
    width: 100%;
    height: 10vw;
    position: absolute;
    border: 4px solid rgb(var(--colorSecondary));
    background-color: rgb(var(--backgrColor));
    margin-top: 6px;
    transition: all 0.6s ease;
  }

  .title h1 {
    font-size: 1rem;
  }
  .metadata {
    position: relative;
    font-size: 0.8rem;
  }
  .metadata p {
    width: 92%;
  }
}
